<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml
	Purpose:
		Configuration of ZATS
	Description:
		
	History:
		Fri Sep 02 14:35:39     2011, Created by dennis

Copyright (C) 2011 Potix Corporation. All Rights Reserved.
-->

<config>
	<config-name>zats-mimic-ext7</config-name><!-- used to resolve dependency -->
	<depends>zul</depends>

	<!-- 
	<version>
		<version-class>org.zkoss.zats.mimic.Version</version-class>
		<version-uid>0.9.0</version-uid>
	</version>
	 -->

	<listener>
		<listener-class>org.zkoss.zats.mimic.impl.Ext7Initiator</listener-class>
	</listener>
</config>
