<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>JettyEmulatorTest</servlet-name>
		<servlet-class>org.zkoss.zats.internal.emulator.impl.JettyEmulatorTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JettyEmulatorTest</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>