<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml
	Purpose:
		Configuration of ZATS
	Description:
		
	History:
		Fri Sep 02 14:35:39     2011, Created by dennis

Copyright (C) 2011 Potix Corporation. All Rights Reserved.
-->
<config>
	<config-name>zats-mimic-ext</config-name><!-- used to resolve dependency -->
	<depends>zul</depends>
	<listener>
		<listener-class>org.zkoss.zats.mimic.impl.ExtInitiator</listener-class>
	</listener>
</config>
